

h1 {
    text-align: left;
    color: rgb(3, 61, 7);
    font-family: 'Century Gothic';
    font-size: 60px;
    border-bottom: 5px solid rgb(3, 61, 7);
    background-color: rgba(237, 241, 238, 0.8);
    width: 100%;
    padding-bottom: 10px;
}

h2 {
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: top;
    justify-content: center;
}

img {
    max-width: 100%;
}
  

figcaption {
    color: rgb(0, 0, 0);
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: 10px;
}
  
.text {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 15px;
}

.list {
    float: left;
    padding-right: 400px;
    line-height: 2;
}

.subsection {
    line-height:2;
    color: rgb(67, 114, 61);
    font-size: 22px;

}

iframe {
    width: 100%;
    margin: 20px 0px;
    border: none;
    aspect-ratio: 16/9;
}